@font-face {
  font-family: 'Stem';
  src: local('Stem-Bold'),
  url(../fonts/Stem-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stem';
  src: local('Stem-Medium'),
  url(../fonts/Stem-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stem';
  src: local('Stem-Regular'),
  url(../fonts/Stem-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'),
  url(../fonts/Inter-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium'),
  url(../fonts/Inter-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
