.info {

  background-image: url(../img/info__bgr.webp);
  background-position: 959px  top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px 0 104px;


}

.info__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--red-accent);
  margin-bottom: 16px;
}

.info__title {
  max-width: 445px;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  color: var(--black);
  margin-bottom: 16px;
}

.info__first-paragraph,
.info__second-paragraph {
  max-width: 445px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black);
}

.info__first-paragraph {
  margin-bottom: 24px;
}

.info__second-paragraph {
  margin-bottom: 32px;

}

.info__link {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 20px 32px;
  color: var(--white);
  background-color: var(--blue-primary);
  cursor: pointer;
  transition: .3s;
}

.info__link:hover,
.info__link:focus {
  background-color: rgb(109, 109, 235);
}

.info__link:active {
  background-color: rgb(152, 152, 196);
}

 /* Адаптивность */
    @media (max-width: 1024px) {
      .info {
        background-size: 40% auto;
        background-position: 90% center;
      }
      
      .info__title {
        font-size: 38px;
        line-height: 1.2;
      }
    }

    @media (max-width: 768px) {
      .info {
        background-position: center 100px;
        background-size: 80% auto;
        padding: 60px 0;
      }
      
      .info__container {
        padding: 0 16px;
      }
      
      .info__title {
        font-size: 32px;
        max-width: 100%;
      }
      
      .info__text-wrap {
        text-align: center;
      }

      .info__first-paragraph,
      .info__second-paragraph {
        max-width: 100%;
      }
    }

    @media (max-width: 480px) {
      .info {
        background-size: 95% auto;
        background-position: center 60px;
        padding: 40px 0;
      }
      
      .info__title {
        font-size: 28px;
        line-height: 1.3;
      }
      
      .info__button {
        padding: 16px 24px;
        font-size: 16px;
        width: 100%;
        text-align: center;
      }

      .info__text {
        font-size: 16px;
      }

      .info__first-paragraph,
      .info__second-paragraph {
        font-size: 16px;
      }
    }

    @media (max-width: 320px) {
      .info {
        background-size: 100% auto;
        background-position: center 40px;
        padding: 30px 0;
      }
      
      .info__title {
        font-size: 24px;
      }
      
      .info__button {
        padding: 14px 20px;
        font-size: 15px;
      }

      .info__text {
        font-size: 15px;
        margin-bottom: 12px;
      }

      .info__first-paragraph,
      .info__second-paragraph {
        font-size: 15px;
        line-height: 1.5;
      }

      .info__first-paragraph {
        margin-bottom: 18px;
      }

      .info__second-paragraph {
        margin-bottom: 24px;
      }
    }