.quote {
  padding: 100px 130px
}

.quote__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

}



.quote__blockquote {
  max-width: 919px;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  color: var(--black);
  padding-bottom: 80px;
  text-align: center;
}

.quote__author {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.4);
}


@media (max-width: 47.99em) { 
  .quote {
    padding: 50px 20px; 
  }
  
  .quote__container {
    gap: 20px; 
  }
  
  .quote__icon svg {
    transform: scale(0.75); 
    transform-origin: center;
  }
  
  .quote__blockquote {
    font-size: 28px; 
    line-height: 32px;
    padding-bottom: 40px; 
    max-width: 100%; 
  }
  
  .quote__author {
    font-size: 18px;
    line-height: 24px;
  }
}