:root {
  /* Черные оттенки с прозрачностью */
  --black-transparent-40: #00000066; /* примерно 40% прозрачности */
  --black-transparent-60: #00000099; /* примерно 60% прозрачности */
  --black-transparent-80: #000000CC; /* примерно 80% прозрачности */
  
  /* Черный полностью */
  
  /* Белые оттенки с прозрачностью */
  --white-transparent-70: #FFFFFFB3; /* примерно 70% прозрачности */
  

  
  /* Основные цвета */
  --blue-primary: #3088FF;
  --gray-light: #C4C4C4;
  --red-accent: #FF005A;
  --white: #FFFFFF;
  --black: #000000;
  
}