:root {
  
  --black-transparent-40: #00000066; 
  --black-transparent-60: #00000099; 
  --black-transparent-80: #000000CC; 
  
  
  
  
  --white-transparent-70: #FFFFFFB3; 
  

  
  
  --blue-primary: #3088FF;
  --gray-light: #C4C4C4;
  --red-accent: #FF005A;
  --white: #FFFFFF;
  --black: #000000;
  
}